<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WSRProject.Properties.Settings.WSRConnectionString"
            connectionString="Data Source=tcp:wsr.database.windows.net,1433;Initial Catalog=WSR;Persist Security Info=True;User ID=Kursacheg;Password=Sharaga0264"
            providerName="System.Data.SqlClient" />
        <add name="WSRProject.Properties.Settings.WSRConnectionString1"
            connectionString="Data Source=wsr.database.windows.net,1433;Initial Catalog=WSR;Persist Security Info=True;User ID=Kursacheg;Password=Sharaga0264"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>